.blueDegrade{
  background: linear-gradient(180deg, #DFFDFF 0%, rgba(223, 253, 255, 0) 100%);
  mix-blend-mode: multiply;
  backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
  border-radius: 49px;
}

.blueDegradeButton{
  background: #B4CEFF;
mix-blend-mode: multiply;
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 49px;
}

.textButtonColor{
  color: #3c6095
}

.icon{
  
mix-blend-mode: luminosity;
}

