.header{
  background: #4A5A54;
  mix-blend-mode: overlay;
  border-radius: 38px;
}

icon{
  mix-blend-mode: soft-light;
transform: matrix(-1, 0, 0, 1, 0, 0);
}




.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 0.2rem;
  background-color: #f9f9f9;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content span:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

